/* Coded by Seiya Loveless */
/* Blue Loneliness anime category style 2.0 */

#list_surround table:first-of-type td a{
background-color:transparent;display:block;font-size:0;
height:75px;width:250px;position:fixed;left:50%;
margin-left:-622px;border-radius:5px;opacity:1;

border-color: #207AAB;
border-style: solid;
border-width: 1px;
}

#list_surround table:first-of-type td a:hover{
border-color: #22ADF7;
}

/*all-*/
#list_surround table:first-of-type td:nth-of-type(6) a{
background-image:url("//i.imgur.com/yGxROtg.png");
top:40px;}

/*now-*/
#list_surround table:first-of-type td:nth-of-type(1) a{
background-image:url("//i.imgur.com/LHiNBiW.png");
top:135px;}

/*compl-*/
#list_surround table:first-of-type td:nth-of-type(2) a{
background-image:url("//i.imgur.com/4NJDhvU.png");
top:230px;}

/*onhold-*/
#list_surround table:first-of-type td:nth-of-type(3) a{
background-image:url("//i.imgur.com/GTulN70.png");
top:325px;}

/*dropped-*/
#list_surround table:first-of-type td:nth-of-type(4) a{
background-image:url("//i.imgur.com/LIIkBvo.png");
top:420px;}

/*plan-*/
#list_surround table:first-of-type td:nth-of-type(5) a{
background-image:url("//i.imgur.com/4Odcuij.png");
top:515px;}

/*all+*/
#list_surround table:first-of-type td:nth-of-type(6):not(.status_not_selected) a{
background-image:url("//i.imgur.com/aGQ6U4q.png");
top:40px;}

/*now+*/
#list_surround table:first-of-type td:nth-of-type(1):not(.status_not_selected) a{
background-image:url("//i.imgur.com/wqtEXgM.png");
top:135px;}

/*compl+*/
#list_surround table:first-of-type td:nth-of-type(2):not(.status_not_selected) a{
background-image:url("//i.imgur.com/02svEcT.png");
top:230px;}

/*onhold+*/
#list_surround table:first-of-type td:nth-of-type(3):not(.status_not_selected) a{
background-image:url("//i.imgur.com/6TCWCIp.png");
top:325px;}

/*dropped+*/
#list_surround table:first-of-type td:nth-of-type(4):not(.status_not_selected) a{
background-image:url("//i.imgur.com/dQSNvIh.png");
top:420px;}

/*plan+*/
#list_surround table:first-of-type td:nth-of-type(5):not(.status_not_selected) a{
background-image:url("//i.imgur.com/z56s8ZH.png");
top:515px;}
