@import url("../menu.css");
@import url("//malcat-gen.appspot.com/series?user=neoka&preset=more&list=anime");
@import url("//fonts.googleapis.com/css?family=Grand+Hotel");

body{background-attachment:fixed;background-color:#000000;
background-image:url('//myanimelist.net/images/userwalls/3373737.jpg');
background-repeat:no-repeat;background-size:cover;color:#00ccff;
font-family:Verdana,Arial;font-size:10px;line-height:14px;}

br {line-height:0px;content:"";}
#list_surround {width:700px; float: right; margin-top: 40px; margin-right: 5px;}

a{color:#6699FF;text-decoration:none;}
a:visited{color:#6699FF;text-decoration:none;}
a:hover{color:#66CCFF;text-decoration:underline;}

.header_title{border-top-left-radius:5px;border-top-right-radius:5px;
background-color:#000000;opacity:0.8;padding:2px 0px 0px;
text-align:center;margin-top:4px;}
.table_header{background-color:#000000;opacity:0.8;padding:2px;}

:hover + .hide {z-index:100;
background-repeat:no-repeat !important;
background-color:rgba(0,51,102,0.8);
background-position:50% 50% !important;
border-radius:10px;border-width:0;
display:block !important;
height:350px;width:220px;
background-size:250px !important;
position:fixed;left:332px;top:50%;
margin-top:-175px;padding:10px 20px;} /*645-35*/

.td1,.td2{background-color:#003366;
color:#6699FF;opacity:0.8;padding:2px;}

tr:hover [class^="td"]{
background-color:#6699FF;
color:#003366;opacity: 0.8;}

tr:hover [class^="td"] a{
color:#003366;}

.td1 small,.td2 small {display:inline-block;float:right;}
.td1 small:before,.td2 small:before {content:'[ '}
.td1 small:after,.td2 small:after {content:' ]'}
.td1 div small,.td2 div small {display:none;}

.form{border-color:#000000;border-style:solid;
border-width:1px;color:#000000;padding:2px;}

.category_totals {
border-bottom-left-radius:5px;
border-bottom-right-radius:5px;
background-color:#000000;color:#000000;
opacity:0.8;padding:0 0 2px;
text-align:center;font-size:0;
height:14px;}

#grand_totals{display:none;}
#copyright{margin-top:4px !important;margin-bottom:4px;
background-color:#000000;border-radius:5px;
opacity:0.8;padding:5px 2px;}

/* anime category style 2.0 */

#list_surround table:first-of-type td a{
background-color:black;display:block;font-size:25px;
height:50px;width:250px;position:fixed;left:40px;
border-radius:5px;opacity:1;
border-color: #207AAB;
border-style: solid;
border-width: 1px;
padding-top:25px;
line-height:25px;
}

#list_surround table:first-of-type td a:hover{
border-color: #22ADF7;
text-decoration:underline !important;
}

/*all-*/
#list_surround table:first-of-type td:nth-of-type(6) a{
top:40px;}
/*now-*/
#list_surround table:first-of-type td:nth-of-type(1) a{
top:135px;}
/*compl-*/
#list_surround table:first-of-type td:nth-of-type(2) a{
top:230px;}
/*onhold-*/
#list_surround table:first-of-type td:nth-of-type(3) a{
top:325px;}
/*dropped-*/
#list_surround table:first-of-type td:nth-of-type(4) a{
top:420px;}
/*plan-*/
#list_surround table:first-of-type td:nth-of-type(5) a{
top:515px;}

/*all+*/
#list_surround table:first-of-type td:nth-of-type(6):not(.status_not_selected) a{
font-family: 'Grand Hotel', cursive;
font-size:40px;
top:40px;}
/*now+*/
#list_surround table:first-of-type td:nth-of-type(1):not(.status_not_selected) a{
font-family: 'Grand Hotel', cursive;
font-size:40px;
top:135px;}
/*compl+*/
#list_surround table:first-of-type td:nth-of-type(2):not(.status_not_selected) a{
font-family: 'Grand Hotel', cursive;
font-size:40px;
top:230px;}
/*onhold+*/
#list_surround table:first-of-type td:nth-of-type(3):not(.status_not_selected) a{
font-family: 'Grand Hotel', cursive;
font-size:40px;
top:325px;}
/*dropped+*/
#list_surround table:first-of-type td:nth-of-type(4):not(.status_not_selected) a{
font-family: 'Grand Hotel', cursive;
font-size:40px;
top:420px;}
/*plan+*/
#list_surround table:first-of-type td:nth-of-type(5):not(.status_not_selected) a{
font-family: 'Grand Hotel', cursive;
font-size:40px;
top:515px;}

#copyright:after {content:"\a Custom CSS by Seiya_Loveless.";white-space:pre;}